@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300&family=Roboto:wght@100;300;400;700&display=swap');

body{
    font-family: 'roboto', sans-serif;
    font-weight: 300;
}
main{
    display: flex;
    flex-direction: column;
}


.table_view_container{
    scroll-behavior: smooth;
    overflow-y: scroll;
    padding-top: 1em;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.table_view_container > table{
    border-collapse: collapse;
    width: 93%;
    overflow: hidden;
    height: max-content;
}

.table_view_container > table > thead > tr{
    background-color: var(--background-color-1);
    height: 3.2em;
}

.table_view_container > table > thead > tr > th{
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 0.95em;
    font-weight: 400;
    padding: 1em 1em;
    color: var(--font-color-3);
}

.table_view_container > table > tbody > tr{
    border-bottom: 0.5px solid var(--border-color-3);
    background-color: var(--background-color-3);
    color: var(--font-color-3);
}

.table_view_container > table > tbody > tr:last-of-type{
    border-bottom: none !important;
}
.table_view_container > table > tbody > tr:hover > td{
    background-color: var(--background-color-2);
    cursor: pointer;
}
.table_view_container > table > tbody > tr > td{
    height: 3.2em;
    padding: 10px 10px;
    transition: color 100ms, background-color 50ms;
}
.up_button{
    position: fixed;
    font-size: 2em;
    right: 10px;
    bottom: 10px;
    color: var(--font-color-1);
    opacity: 0.5;
}
.up_button:hover{
    color: var(--font-color-2);
    opacity: 1;
}

@media (max-width: 900px) {
    .table_view_container > table > thead{
        display: none;
    }

    
    .table_view_container > table{
        display: block;
        width: 95% !important;
        background-color: transparent !important;
        box-shadow: none;
    }
    .table_view_container > table > tbody,
    .table_view_container > table > tbody > tr,
    .table_view_container > table > tbody > tr > td{
        display: block;
        width: 100% !important;
    }
    .table_view_container > table > tbody > tr{
        margin-bottom: 15px !important;
        background-color: var(--background-color-3) !important;
        border-radius: 10px;
        border: none;
        overflow: hidden;
        border: 2px solid var(--border-color-2);
    }
    .table_view_container > table > tbody > tr > td{
        text-align: right !important;
        min-height: 3em;
        padding-left: 35%;
        position: relative;
        overflow: hidden;
        line-height: 1.2;
        color: var(--font-color-3);
    }
    .table_view_container > table > tbody > tr > td:not(:last-of-type){
        border-bottom: 1px solid var(--border-color-2) !important;
    }
    .table_view_container > table > tbody > tr > td::before{
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 35%;
        padding-left: 15px;
        font-size: 1em;
        text-align: left;
        text-transform: uppercase;
    }
}