h1{
    color: var(--font-color-3);
    font-size: 2.5em;
    font-weight: 400;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    padding: 15px 0;
}
#pdf_section_container{
    grid-area: main;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 15px;
}
.pdf{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 800px;
    gap: 15px;
    padding: 15px;
    border-radius: 5px;
    background-color: rgb(var(--background-color-4),0.1);
    text-decoration: none;
    color: var(--font-color-3);
    font-size: 2em;
}
.pdf:hover{
    background-color: rgb(var(--background-color-4),0.2);
}
.pdf > i{
    height: 100%;
    display: flex;
    align-items: center;
}