@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300&family=Roboto:wght@100;300;400;700&display=swap');
:root{
    --color-1: #222831;
    --color-2: #393E46;
    --color-3: #767e8a;
    --color-4: #FF2E63;
    --color-5: #00ADB5;
    --color-6: #EEEEEE;
    --color-7: #FFFFFF;
}
body{
    font-family: 'roboto', sans-serif;
    font-weight: 300;
}
main{
    overflow-y: scroll;
    scroll-behavior: smooth;
}
.active{
    display: flex !important;
}
.form_new_book_container{
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
.form_new_book_container > form{
    background-color: var(--color-2);
    padding: 3em 1em;
    border-radius: 10px;
    box-shadow: 0 0 10px var(--color-3);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    max-width: 600px;
    min-width: 400px;
    position: relative;
}
.form_new_book_container > form > h1{
    font-size: 1.5em;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--color-6);
    margin-bottom: 10px;
}
.form_new_book_container > form > .close_button{
    position: absolute;
    height: 35px;
    width: 35px;
    top: 8px;
    right: 8px;
    font-size: 1.5em;
    border-radius: 50%;
    border: none;
    background-color: var(--color-6);
    color: var(--color-4);
    cursor: pointer;
    transition: background-color 100ms, color 100ms;
}
.form_new_book_container > form > .close_button:hover{
    background-color: var(--color-6);
    color: var(--color-5);
}
.form_new_book_container > form > .input_container{
    width: 100%;
    margin: 15px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 0 10px;
    position: relative;
}
.form_new_book_container > form > .input_container > input[type="text"],
.form_new_book_container > form > .input_container > input[type="date"]{
    border: 0;
    border-bottom: 3px solid var(--color-1);
    background-color: transparent;
    padding: 5px 8px;
    font-size: 1.5em;
    transition: border 200ms ease-in-out;
    outline: none;
    color: var(--color-6);
}
.form_new_book_container > form > .input_container > input[type="text"]:not(:valid):not(:placeholder-shown){
    border-bottom: 1px solid red;
}
.form_new_book_container > form > .input_container > input[type="text"]:not(:valid):not(:placeholder-shown) + label{
    color: red;
}
.form_new_book_container > form > .input_container > input[type="text"]:not(:valid):focus{
    outline: red;
}
.form_new_book_container > form > .input_container > input[type="submit"]{
    border: 0;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    background: transparent;
    transition: letter-spacing 200ms ease-in-out;
    border-radius: 5px;
    border: none;
    background-color: var(--color-3);
    color: var(--color-6);
    font-size: 1.2em;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.form_new_book_container > form > .input_container > input[type="submit"]:hover{
    letter-spacing: 5px;
}
.form_new_book_container > form > .input_container > label{
    color: var(--color-3);
    font-size: 1em;
    margin-bottom: 5px;
    position: absolute;
    top: 0;
    left: 16px;
    transform: translateY(7px);
    cursor: text;
    transition: transform 0.3s, color 0.3s, background-color 0.3s, font-size 0.3s;
    user-select: none;
    padding: 3px 3px;
}
.form_new_book_container > form > .input_container > input[type="text"]:focus + label,
.form_new_book_container > form > .input_container > input[type="text"]:not(:placeholder-shown) + label,
.form_new_book_container > form > .input_container > input[type="date"] + label{
    transform: translateY(-20px);
    font-size: 0.8em;
    color: var(--color-6);
}

.form_actions_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 100%;
    padding: 15px 25px;
}
.form_actions_container > button{
    border: 0;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    background: transparent;
    transition: border 200ms ease-in-out, color 200ms ease-in-out, background-color 200ms ease-in-out;
    border-radius: 5px;
    border: 1.5px solid var(--color-3);
}
.form_actions_container > button:hover{
    color: var(--color-6);
    border: 1.5px solid var(--color-3);
    background-color: var(--color-3);
}
.table_view_container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.table_view_container > table{
    border-collapse: collapse;
    width: 95%;
   overflow: hidden;
}

.table_view_container > table > thead > tr{
    background-color: var(--color-3);
}

.table_view_container > table > thead > tr > th{
    padding: 1em 0;
    color: var(--color-6);
}

.table_view_container > table > tbody > tr{
    border-bottom: 0.5px solid var(--color-3);
}

.table_view_container > table > tbody > tr:last-of-type{
    border-bottom: none !important;
}
.table_view_container > table > tbody > tr:hover > td{
    color: var(--color-6);
    background-color: var(--color-2);
    cursor: pointer;
}
.table_view_container > table > tbody > tr > td{
    height: 3.2em;
    padding: 10px 10px;
    transition: color 100ms, background-color 50ms;
}
.up_button{
    position: fixed;
    font-size: 2em;
    right: 10px;
    bottom: 10px;
    color: var(--color-2);
    opacity: 0.5;
}
.up_button:hover{
    color: var(--color-3);
}

@media (max-width: 900px) {
    .table_view_container > table > thead{
        display: none;
    }

    
    .table_view_container > table{
        display: block;
        width: 95% !important;
        background-color: transparent !important;
        box-shadow: none;
    }
    .table_view_container > table > tbody,
    .table_view_container > table > tbody > tr,
    .table_view_container > table > tbody > tr > td{
        display: block;
        width: 100% !important;
    }
    .table_view_container > table > tbody > tr{
        margin-bottom: 15px !important;
        background-color: var(--color-7) !important;
        border-radius: 10px;
        border: none;
        overflow: hidden;
    }
    .table_view_container > table > tbody > tr > td{
        text-align: right !important;
        min-height: 3em;
        padding-left: 35%;
        position: relative;
        overflow: hidden;
        line-height: 1.2;
        color: var(--color-1);
    }
    .table_view_container > table > tbody > tr > td:not(:last-of-type){
        border-bottom: 1px solid var(--color-3) !important;
    }
    .table_view_container > table > tbody > tr > td::before{
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 35%;
        padding-left: 15px;
        font-size: 1em;
        text-align: left;
        text-transform: uppercase;
    }
}