*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
header{
    background-color: #607EAA;
    height: 10vh;
    display: none;
}
header > .icon_container{
    width: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}

header > .icon_container > a > img{
    height: 5vh;
    margin-left: 15px;
}

main{
    background-color: #F9F5EB;
    min-height: 90vh;
    width: 100vw;
}
footer{
    background-color: rgb(212, 212, 212);
    height: 5vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer > a{
    text-decoration: none;
    font-size: 1.5rem;
    color: rgb(90, 90, 90);
}
footer > a:hover{
    color: #0a66c2;
}
.first_section_container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #505050;
}
.first_section_container > .presentation_container{
    text-align: center;
}
.first_section_container > .presentation_container > .texto_inicio{
    font-size: 2rem;

    color:#F9F5EB;
}
.first_section_container > .presentation_container > .texto_inicio > span{
    font-size: 1.75rem;
    font-weight: bold;
    color: #79b7e0;
}
.first_section_container > .presentation_container > a{
    color: #79b7e0;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    border: 1px solid #79b7e0;
    padding: 10px;
    border-radius: 5px;
    margin-top: 15px;
    display: inline-block;
    transition: background-color 0.2s ease, color 0.2s ease;
}
.first_section_container > .presentation_container > a:hover{
    background-color: #79b7e0;
    color: #F9F5EB;
}