*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
header{
    background-color: var(--main_color_3);
    height: 10vh;
}
main{
    background-color: var(--main_color_1);
    min-height: 90vh;
    width: 100vw;
}