*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #FAECD6;
}

header{
    height: 10vh;
    background-color: #4E6C50;
    display: flex;
}

#search-container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}
#search-container > form{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#form-search-container{
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#form-search-container > input[type="search"]{
    padding: 5px 10px;
    height: 100%;
    width: 17rem;
    border-radius: 5px 0 0 5px;
    font-size: 1.1rem;
    border: 1px solid #a7a7a7;
}
#form-search-container > input[type="search"]:focus{
    outline: none;
}
#form-search-container > #button-search{
    padding: 5px 10px;
    height: 100%;
    width: 40px;
    text-align: center;
    background-color: #ffffff;
    border: 1px solid #a7a7a7;
    border-radius: 0 5px 5px 0;
    transition: background-color 300ms;
}
#form-search-container > #button-search:is(:hover, :focus){
    background-color: #c7c7c7;
    cursor: pointer;
}
main{
    width: 100vw;
    overflow-x: hidden;
}
#table-container{
    padding: 25px 0;
    display: flex;
    justify-content: center;
}
#table-container > table{
    background-color: white;
    width: 80%;
    padding: 10px 25px;
}
#table-container > table{
    border-collapse: collapse;
}
#table-container > table > thead{
    background-color: aliceblue;
    height: 2rem;
}
#table-container > table > thead > tr > th{
    font-size: 1rem;
}
#table-container > table > tbody > tr{
    border-top: 1px solid #585858;
}
#table-container > table > tbody > tr > td{
    padding: 7px 3px;
    text-align: center;
}
#table-container > table > tbody > tr:nth-child(even){
    background-color: #f0f0f0;
}