*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
main{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.chart_container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.form_container{
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.form_container > form{
    background-color: #eeeeee;
    padding: 2em 1em;
    border-radius: 10px;
    box-shadow: 0 0 10px #dddddd;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    max-width: 600px;
    min-width: 400px;
    height: 70%;
    position: relative;
}
.form_container > form > h2{
    font-size: 2em;
    margin-bottom: 1em;
    text-align: center;
}
.form_container > form > .input_container{
    width: 100%;
    margin: 15px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 0 10px;
    position: relative;
}
.form_container > form > .input_container > input[type="text"]{
    border: 0;
    background-color: transparent;
    border-bottom: 1px solid #000;
    padding: 5px 8px;
    font-size: 1.5em;
    transition: border 200ms ease-in-out;
    outline: none;
}
.form_container > form > .input_container > input[type="submit"]{
    border: 0;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    background: transparent;
    transition: border 200ms ease-in-out, color 200ms ease-in-out, background-color 200ms ease-in-out;
    border-radius: 5px;
    border: 1.5px solid #000;
}
.form_container > form > .input_container > input[type="submit"]:hover{
    border: 1.5px solid #000;
    color: #fff;
    background-color: rgb(142, 142, 142);
}
.form_container > form > .input_container > label{
    font-size: 1em;
    margin-bottom: 5px;
    position: absolute;
    top: 0;
    left: 16px;
    transform: translateY(7px);
    cursor: text;
    transition: transform 0.3s, color 0.3s, background-color 0.3s, font-size 0.3s;
    user-select: none;
    padding: 3px 3px;
}
.form_container > form > .input_container > input[type="text"]:focus + label,
.form_container > form > .input_container > input[type="text"]:not(:placeholder-shown) + label{
    transform: translateY(-20px);
    font-size: 0.8em;
    background-color: var(--color-5);
    color: var(--color-6);
}