*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    overflow-x: hidden;
    background-color: rgb(133, 133, 133);
}
main{
    min-height: 100vh;
    width: 100vw;
    background-color: #f1f7fd;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#container_form{
    margin-top: 50px;
    background-color: rgb(218, 0, 91);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
    border-radius: 10px;
    width: 25%;
    min-height: 350px;
    max-height: 450px;
    height: 30%;
}
#container_form > form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

#container_form > form > .input-group{
    display: flex;
    flex-direction: column;
}
#container_form > form > .input-group > label{
    text-align: left;
    color: rgb(220, 245, 255);
    font-size: 25px;
}
#container_form > form > .input-group > input[type="text"]{
    margin-top: 10px;
    height: 35px;
    font-size: 22px;
    border: 1px solid rgb(200,200,200);
    background-color: rgb(255 255 255);
    padding: 3px 7px;
    border-radius: 3px;
    width: 100%;
    transition: background-color 300ms;
    margin-bottom: 10px;
}

#upload{
    background-color: rgb(216, 109, 109);
    padding: 10px;
    border-radius: 5px;
    color: rgb(255 255 255);
    cursor: pointer;
}
#upload:hover{
    background-color:rgb(208, 83, 83);
}
#filename{
    color: rgb(255 255 255);
}
#container_form > form > input[type="submit"]{
    margin-top: 30px;
    height: 30px;
    border: 1px solid rgb(200,200,200);
    background-color: rgb(255 255 255);
    border-radius: 10px;
    width: 60%;
    transition: background-color 300ms;
    font-size: 20px;
}
#container_form > form > input[type="submit"]:hover{
    background-color: rgb(133, 133, 133);
    color: rgb(255 255 255);
    cursor: pointer;
}

#container_fotos{
    margin-top: 50px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
}

#container_fotos > article{
    margin-top: 15px;
}